ChordsGenerator/.vs/
ChordsGenerator/ChordsGenerator/.vs/
ChordsGenerator/ChordsGenerator/bin/
ChordsGenerator/ChordsGenerator/obj/
ChordsGenerator/ChordsGenerator/ChordsGenerator.csproj.user
launcher.bat
